extends ../../layouts/account

block head
  title= __('account.title')

block neck
  link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/account/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-6
      div.page-header
        h1
          = __('account.headline-pre') + ' '
          span#fromNow
          = __('account.headline-post')
      p= __('account.subtext')