extends ../layouts/splash

block head
  title Outright Mental Inc.

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.row
    div.col-md-6
      div.splash.ticket-stub
        a(href="/login/")
          img(src='/media/om-ticket-stub.png')
  div.clearfix
  div.row
    div.col-md-6
      div.splash.options
        div
          a.btn.btn-primary.btn-lg(href='/login/') Login
          a.btn.btn-default.btn-lg(href='/signup/') Sign Up
        div.clearfix
