extends _global

block layoutCss
  link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
  link(rel='stylesheet', href='https://s3.amazonaws.com/outrightmental/vendor/font-awesome/css/font-awesome.min.css')

block layoutNav
  li: a(href='/account/') My Account
  li: a(href='/account/settings/') Settings
  li: a(href='/logout/')
    i.fa.fa-user
    | Sign Out

block layoutScripts