extends _global

block layoutCss
  link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
  link(rel='stylesheet', href='/layouts/admin.min.css?#{cacheBreaker}')
  link(rel='stylesheet', href='https://s3.amazonaws.com/outrightmental/vendor/font-awesome/css/font-awesome.min.css')

block layoutNav
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      | System
      span.caret
    ul.dropdown-menu
      li.dropdown-header Pivoted Settings
      li: a(href='/admin/statuses/') Statuses
      li: a(href='/admin/categories/') Categories
      li.divider
      li.dropdown-header User Admin
      li: a(href='/admin/users/') Users
      li: a(href='/admin/accounts/') Accounts
      li: a(href='/admin/administrators/') Administrators
      li: a(href='/admin/admin-groups/') Admin Groups
  form.navbar-form.pull-right#_search

block layoutScripts
  script(src='/layouts/admin.min.js?#{cacheBreaker}')
  script(type='text/template', id='tmpl-_search')
    div.dropdown
      input.form-control(name='_search', type='text', placeholder='search', tab-index='1')
      ul#_search-results-rows.dropdown-menu
  script(type='text/template', id='tmpl-_search-results-row')
    |<% if (type && type == 'header') { %>
    |<%= name %>
    |<% } else { %>
    a(href!='<%= url %>') <%= name %>
    |<% } %>
  script(type='text/template', id='tmpl-_search-results-empty-row')
    li.dropdown-header no docs matched