extends _global

block layoutCss
  link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
  link(rel='stylesheet', href='https://s3.amazonaws.com/outrightmental/vendor/font-awesome/css/font-awesome.min.css')

block layoutNav
  li: a(href='/') Home
  li: a(href='/about/') About
  li: a(href='/contact/') Contact
  li: a(href='/signup/') Sign Up
  li: a(href='/login/')
    i.fa.fa-user
    | Sign In

block layoutScripts