@import "../vendor/bootstrap/less/mixins.less";

html {
  body {
    padding-top: 20px;
  }
}

.splash.options {
  padding-left:10%;
  padding-right:10%;
  a {
    margin-bottom:10px;
    width:100%;
  }
}