@import "../vendor/bootstrap/less/mixins.less";

html {
  body {
    padding-top: 0;
  }
}

.splash.ticket-stub {
  padding-top:14px;
  margin-left:-16px;
  margin-right:-16px;
}

.splash.options {
  a {
    margin-bottom:10px;
    width:100%;
  }
}